@import "../../../styles.scss";


.nav-items {
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: black;

        &.active {
            color: $orange;
        }
    }
}