@import "../../../styles.scss";

@include resize-800-1100 (large-up) {
    .main-logo {
        width: 200px;
        height: 55px;
    }
}

@include resize-800-1100 (large-down) {
    .main-logo {
        width: 200px;
        height: 42px;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }
    
    .main {
        background-image: url('../../../assets/images/logo_univisia.svg');
    }
    
    .cases {
        background-image: url('../../../assets/images/cases.svg');
    }

    .about {
        background-image: url('../../../assets/images/about_us.svg');
    }

    .contacts {
        background-image: url('../../../assets/images/contact.svg');
    }

    .menu {
        background-image: url('../../../assets/images/menu.svg');
    }

    :host {
        display: flex;
        justify-content: space-between;
    }
}