
@import "../styles.scss";


.content {
    position: relative;
    
    &.fit-menu {
        overflow: hidden;
        padding: 0;
        height: 0;
    }
}

@include resize-800-1100 (large-up) {
    .content {
        padding-left: 80px;
        padding-bottom: 80px;
    }
}

@include resize-800-1100 (large-down) {
    .content {
        padding: 0 20px 70px 20px;
    }
}