<img src="../../../assets/images/menu_icon.svg" alt=""
     (click)="cangeMenuState()" [@rotatedState]="state">

<div id="open-menu" class="open-menu" *ngIf="menuOpen" [@enterAnimation]>
    <div class="top">
        <img class="menu-img" src="../../../assets/images/menu.svg" alt="">
        <img src="../../../assets/images/close.svg" alt="" (click)="cangeMenuState()">
    </div>
    <div class="menu-container">
        <div class="menu-item" (click)="menuOpen = !menuOpen">
            <h4><a routerLinkActive="active" routerLink="/services" class="essentials">Servises</a></h4>
            <div class="options" (click)="goToService($event.target)">
                <h5 id="azure" >Azure Services</h5>
                <h5 id="webdev">Website Development</h5>
                <h5 id="startups">Service for Startups</h5>
                <h5 id="stuffing">IT Stuffing</h5>
            </div>
        </div>
        <div class="menu-item" (click)="menuOpen = !menuOpen">
            <h4><a routerLinkActive="active" routerLink="/about" class="essentials">About</a></h4>
        </div>
        <div class="menu-item" (click)="menuOpen = !menuOpen">
            <h4><a routerLinkActive="active" routerLink="/cases" class="essentials">Cases</a></h4>
        </div>
        <div class="menu-item" (click)="menuOpen = !menuOpen">
            <h4><a routerLinkActive="active" routerLink="/contact" class="essentials">Contact</a></h4>
        </div>
        <div class="publics" (click)="menuOpen = !menuOpen">
            <img class="fb" src="../../../assets/images/facebook.svg" alt="">
            <img class="in" src="../../../assets/images/linkedin.svg" alt="">
        </div>
    </div>
</div>